/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Document
       ========================================================================== */

/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */

/**
     * Remove the margin in all browsers (opinionated).
     */

body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */

figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */

main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */

/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */

/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */

b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */

b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */

dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */

mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */

small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */

img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */

/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */

button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */

input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */

textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */

/*
     * Add the correct display in Edge, IE, and Firefox.
     */

details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */

summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */

menu {
  display: block;
}

/* Scripting
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */

template {
  display: none;
}

/* Hidden
       ========================================================================== */

/**
     * Add the correct display in IE 10-.
     */

[hidden] {
  display: none;
}
/*# sourceMappingURL=style.css.map */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  color: #637588;  
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 3.75rem;
}

h2 {
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  font-size: 2.5rem;
  color: #2d3651;
}

h3 {
    color: #637588;
}

p {
letter-spacing: 1px;
color: #637588;
}


  .container {
  display: grid;
  max-width: 1340px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
  }

  .btn,.btn-accent {
  border-color: #FFF;
  background-color: rgba(255 255 255 0.1);
  display: block;
  max-width: 250px;
  height: 60px;
  margin: 0 10px;
  padding: 18px 20px;
  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0.15em;
  border-color: #FFF;
  border-width: 2px;
  border-style: solid;
  font-size: 1.125rem;
  }
  
  .btn:hover, .btn:focus {
  background-color: #d66926;
  }

 .header {
  position: relative;
  display: grid;
  padding: 100px 0;
  min-height: 100vh;
  color: white;
  background-color: #2d3651;
  background-position: 50% 50%;
  background-size: cover;
   align-items: center;
  }

  .header-overlay {
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  .header-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  }

  .header-menu .container {
  grid-template-columns: auto 1fr;
  }

  .header-logo {
  letter-spacing: 0.5em;
  align-self: center;
  }

  .header-logo a {
  display: inline-block;
  padding: 20px 20px 20px 0;
  }  
     
 .header-logo span {
  display: inline-block;
  padding: 15px 7px 15px 15px;
  border: 2px solid #d53d27;
  } 

  .header-navbar {
  position: relative;
  display: grid;
  align-self: center;
  justify-items: end;
  }
  
  .header-navbar__hamburger {
    display: none;
  }
  
.header-navbar__list {
  display: grid;
  margin: 0 -20px 0 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: end;
}

.header-navbar__item a {
  display: block;
  padding: 20px;
}

.header-navbar__item a:hover {
  color: #d66926;
}

.header-content {
  z-index: 1;
}

.header-title {
  margin: 0 0 53px;
  text-align: center;
}

.header-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 10px;
  grid-gap: 10px;  
}

.skill-item:nth-of-type(1) {
  grid-column: 1 / span 2;
}
.skill-item:nth-of-type(5) {
  grid-column: 2 / span 2;
}
.skill-item:nth-of-type(6) {
  grid-column: 4;
  grid-row: 2 / span 2;
}

.skill-item {
  min-height: calc(33.33vh - 14px); 
  display: grid;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-items:center;
  overflow: hidden;
}

.skill-item__image {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.5s;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #2d3651;
}
.skill-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
  background-color: #2d3651;
  transition: opacity 0.5s;
}
.skill-item__title {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  z-index: 1;
  transition: color 0.5s;
  font-weight: 700;
  color: #ffffff;
}
.skill-item:hover .skill-item__image{
transform: scale(1.1);
} 
.skill-item:hover .skill-item__overlay{
  opacity: 0.95;
} 
.skill-item:hover .skill-item__title{
  color: #d66926
} 
.btn-set {
  grid-column: 1 / span 4; 
}
.btn-set .btn-accent{
  min-width: 350px;
}
.btn-accent {
  border-color: #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
}
.btn-accent:hover {
  border-color: #2d3651;
  background-color: #d66926;
}
.skills .btn-set {
  padding: 10px 0 30px;
  display: grid;
  justify-items: center;
}
.about {
  background-color: #e5e5e5;
}
.about .container {
  grid-gap: 100px;
  grid-template-columns: 1fr 271px;
}
.section {
  padding-top: 100px;
  padding-bottom: 80px;
}
.section h2 {
  margin-top: 0;
}
.about-content h2 {
  margin-bottom: 50px;
}
.about-image {
  align-content: center;
  justify-content: center;
}
.about-image img {
max-width: 100%;
max-height: 480px;
margin-top: 20px;
}
.about-content p {
  font-size: 1.125rem;
}
.about-content p:first-of-type {
  position: relative;
}
.about-content p:first-of-type:after {
  position: absolute;
  top: 0;
  right: -50px;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);
}

/*начало описание свойства форм*/
.form {
    padding: 30px 0;
    background-color: #2d3651;
}

.form .container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.form .btn-accent {
    max-width: 400px;
    width: 100%;
    margin: 0;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}
.form .btn-accent:hover,
.form .btn-accent:focus {
    cursor: pointer;
    border-color: #ffffff;
    background-color: #d66926;
}

.form input {
    width: 100%;
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 0.15em;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 1.125rem;
}
/*конец описания свойства форм*/


/*начало описания свойств раздела ПОСТОВ*/

.posts h2 {
  	margin-bottom: 30px;
    grid-column: 1 / span 4;
}
.posts .container {
  	grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.posts-article:nth-of-type(1) {
    grid-column: 1 / span 2;
}
.posts-article:nth-of-type(6) {
    grid-column: 3 / span 2;
}
.posts-article__image {
    position: relative;
    overflow: hidden;
}
.posts-article__image div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
}
.posts-article a {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 300px 1fr;
}
.posts-article__text {
    display: grid;
    padding: 20px;
    align-content: center;
}
.posts-article {
    background-color: #f2f2f2;
}
.posts-article:hover {
    background-color: #d8d8d8;
}

.posts-article__text h3, p {
    text-align: center;
}

.posts .btn-set {
	display: grid;
  justify-items: center;
	margin-bottom: 100px;
}



/* начало блока описания "гамбургера"*/

.header-navbar__hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-navbar__hamburger {
  margin-right: 20px;
}

.header-navbar__hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-navbar__hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.header-navbar__hamburger span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.header-navbar__hamburger span:nth-child(1), .header-navbar__hamburger span:nth-child(2) {
  top: 0px;
}

.header-navbar__hamburger span:nth-child(3), .header-navbar__hamburger span:nth-child(4) {
  top: 18px;
}

.header-navbar__hamburger span:nth-child(5), .header-navbar__hamburger span:nth-child(6) {
  top: 36px;
}

.header-navbar__hamburger.open span:nth-child(1),.header-navbar__hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-navbar__hamburger.open span:nth-child(2),.header-navbar__hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-navbar__hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.header-navbar__hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.header-navbar__hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-navbar__hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-navbar__hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.header-navbar__hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/*относится к всплывающему меню гамбургера*/

@media (max-width: 768px) {
  .header-navbar__hamburger
  {
    display: block;
  }
  .header-navbar__list {
    display: none;
  }
  .header-navbar {
    z-index: 2;
  }
  .header-navbar__list.open {
    display: block;
    z-index: 100;
    right: 20px;
    width: auto;
    top: 100%;
    grid-template-columns: auto;
    text-align: right;
    background-color: rgba(68, 89, 110, 0.95);
    transition: opacity 0.5s;
    background-color: #2d3651;
  }
  h1 {
    font-size: 1.875rem;
  }
  .header-buttons .btn {
    min-width: 170px;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*конец части всплывающего меню гамбургера*/

/*описание поведения колонок секции "skills" при сжатии менее 992 пикселя*/
@media (max-width: 992px) and (min-width: 769px) {
  h1 {
      font-size: 2.5rem;
  }
  h2 {
      font-size: 2rem;
  }

  .skills {
    grid-template-columns: repeat(3, 33.33%);
  }
  .skill-item {
    min-height: 215px;
  }
  .skill-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
  
  .skill-item:nth-of-type(3) {
    grid-column: 1;
  }
  .skill-item:nth-of-type(4) {
    grid-column: 2 / span 2;
  }
  .skill-item:nth-of-type(5) {
    grid-column: 1 / span 2;
  }
  .skill-item:nth-of-type(6) {
    grid-column: 3;
    grid-row: 3 / span 2;
  }
  .skill-item:nth-of-type(7) {
    grid-column: 1;
    grid-row: 4 / span 2;
  }
  .skill-item:nth-of-type(8) {
    grid-column: 2;
    grid-row: 4;
  }
  .skill-item:nth-of-type(9) {
    grid-column: 2 / span 2;
    grid-row: 5;
  }

}

/* начало описания футера*/

.footer {
  padding: 50px;
  text-align: center;
  background-color: #1b2030;
  
}

.footer-social {
  position: relative;
  font-size: 30px;  
  letter-spacing: 5px;
  margin-bottom: 55px;
}

.footer-social::after {
  position: absolute;
  left: calc(50% - 102px);
  width: 80px;
  height: 2px;
  content: "";
  margin: 60px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-text {
  display: inline-block;
  text-align: justify;
}

.footer-text span:nth-of-type(1) {
  font-weight: 100;
  letter-spacing: 6px;
}

.footer-text span:nth-of-type(2) {
  color: #e5e5e5;
  font-weight: 700;
}

/*Конец описания футера*/


/*описание поведения колонок секции "posts" при сжатии менее 992 пикселя*/
@media (max-width: 992px) (min-width: 769px) {
    
  .posts .btn-set {
    grid-column: 1 / span 3;
  }
  
  .posts .container {
   grid-template-columns: repeat(3, 33.33%);
   overflow: auto;
  }

  .posts-article__text {
    max-height: 250px;
    overflow: hidden;
  }
  
  .posts-article:nth-of-type(1) {
    grid-column: 1 / span 2;
  }

  .posts-article:nth-of-type(3) {
    grid-row: 3;
  }

  .posts-article:nth-of-type(4) {
    grid-row: 3;
    grid-column: 2 / span 2;
  }

  .posts-article:nth-of-type(5) {
    grid-row: 4;
    grid-column: 1 / span 2;
  } 
  
}

/*адаптация под 768px*/

@media (max-width: 768px) and (min-width: 577px) {
  
  h1 {
    font-size: 1.875rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .section {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .header-title {
    margin: 0 0 43px;
  }

  .skills {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 50%);
  }

  .skill-item {
    min-height: 250px;
  }

  .skill-item:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .skill-item:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .skill-item:nth-of-type(4) {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .skill-item:nth-of-type(5) {
    grid-row: 4 / span 2;
    grid-column: 1;
  }

  .skill-item:nth-of-type(6) {
    grid-row: 4;
    grid-column: 2;
  }

  .skill-item:nth-of-type(7) {
    grid-row: 5;
    grid-column: 2;
  }

  .skill-item:nth-of-type(8) {
    grid-row: 6;
  }
  
  .skill-item:nth-of-type(9) {
    grid-row: 6;
  }
  
  .form .container {
    grid-template-columns: 1fr 1fr;
  }

  .form .form-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
  
  .posts .container {
    grid-template-columns: 50% 50%;
  }
  
  .posts-article:nth-of-type(odd) {
    grid-column: 1;
  }

  .posts-article:nth-of-type(even) {
    grid-column: 2;
  }
    
}

/*адаптация под 576px*/

@media (max-width: 576px) {

  .skill-item {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
  }

        /* "Костыли" для позиционироания кнопок */

  .skill-item:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1 / span 4;
  } 

  .skill-item:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1 / span 4;
  } 

  .skill-item:nth-of-type(3) {
    grid-row: 3;
    grid-column: 1 / span 4;
  } 

  .skill-item:nth-of-type(4) {
    grid-row: 4;
    grid-column: 1 / span 4;
  } 

  .skill-item:nth-of-type(5) {
    grid-row: 5;
    grid-column: 1 / span 4;
  } 
  
  .skill-item:nth-of-type(6) {
    grid-row: 6;
    grid-column: 1 / span 4;
  }

  .skill-item:nth-of-type(7) {
    grid-row: 7;
    grid-column: 1 / span 4;
  }

  .skill-item:nth-of-type(8) {
    grid-row: 8;
    grid-column: 1 / span 4;
  }

  .skill-item:nth-of-type(9) {
    grid-row: 9;
    grid-column: 1 / span 4;
  }

  .about .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .about-content p:first-of-type::after {
    display: none;
  }

  .about-image {
    margin: auto;
  }

  .form .container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .form .btn-accent {
    max-width: 100%;
  }

  .posts .container {
    grid-template-columns: 1fr;
  }

  .posts-article__text {
    padding: 0;
  }

      /* Еще "костыли" для позиционироания кнопок */

  .posts-article:nth-of-type(1) {
    grid-row: 2;
    grid-column: 1 / span 4;
  } 

  .posts-article:nth-of-type(2) {
    grid-row: 3;
    grid-column: 1 / span 4;
  } 

  .posts-article:nth-of-type(3) {
    grid-row: 4;
    grid-column: 1 / span 4;
  } 

  .posts-article:nth-of-type(4) {
    grid-row: 5;
    grid-column: 1 / span 4;
  } 

  .posts-article:nth-of-type(5) {
    grid-row: 6;
    grid-column: 1 / span 4;
  } 

  .posts-article:nth-of-type(6) {
    grid-row: 7;
    grid-column: 1 / span 4;
  } 

}
  